.width{
width: 100%;
}
.h-ul{
    height: 50px;
}
input{
   border: solid rgb(211, 211, 221) 2px;
}
input:focus{
    outline: none;
}
input::placeholder {
 
   padding: 15px;
}
ul li a{
    text-decoration: none;
}
body{
    background-color: beige;
}
.icon-header{
width: 30px;
height: 30px;
}
.facebock{
    background-color: #365493;
}
.youtube{
    background-color: #cb2037;
}
.linkdin{
    background-color: #0274b3;
}
.telegram{
    background-color: #37aee2;
}
.w-img{
    width: 300px;
    height: 400px;
}
.pos{
    position: absolute;
    left: 12%;
    top: -13%;
}
.radius{
    border-radius: 20px;
}
.product-img{
    width: 130px;
    height: 130px;
    cursor: pointer;
}
.pr{
    height: 300px;
    
}
.c{
    background-color: #777777;
}
.img-category{
width: 200px;
height: 200px;
}
.h-product{
    height: 350px;
}
.h-pr{
    background-color: beige;
}
.categoriesList{
    cursor: pointer;
}